@page "/sc"
@page "/sc/{id:int}"

@inject IDialogService DialogService

<MudContainer>
    @foreach (var item in AllCars)
    {

        <div style="padding: 5px; margin-right: 10px;">
            <MudItem>
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@item.Label</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>

                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        @GetCurrentlyImage(item.Id)
                        <img src="@($"data:image/jpeg;base64,{CurrentImageData}")"
                             alt=""/>
                        <MudText>@item.Model</MudText>
                        <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Success" EndIcon="@Icons.Sharp.AttachMoney">
                            @item.Cost
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </div>
    }
</MudContainer>

@code {

    private void OpenDialog()
    {
        DialogOptions closeOnEscapeKey = new DialogOptions() { CloseOnEscapeKey = true };

        DialogService.Show<Dialog>("Your order", closeOnEscapeKey);
    }

}